.DS_Store

application/cache/*
application/storage/*
!application/config/config.php
!application/cache/index.html
!application/cache/.htaccess
!.htaccess
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

# IDE Files
#-------------------------
/nbproject/
/dist/
/user_guide/
/node_modules/
.idea/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

npm-debug\.log

*.log

\.editorconfig
